* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

header {
	display: inline-block;
	width:100%;
	background: linear-gradient(to bottom, white, #ccc 240%);
	margin-left: 0;
	overflow: auto;

}

p {
 font-family: 'Open Sans', sans-serif;
 color: #333;
}

.img_wrapper {
	padding: 10px;
}	

#topnav{
	text-align: right;
	margin-right: 20px;
	margin-top: 50px;
}

#topnav li {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	display: inline-block;
	padding-right: 20px;
}

#topnav li a {
	text-decoration: none;
	color: #002855;
	padding: 10px;
}

#topnav li:after {
	content:' | ';
	color: #0097d1;
	}

#topnav li:last-child:after {
		content: '';
	}

#topnav li a:hover {
	color: #0097d1;
	text-decoration: none;
}
#portfolio .wrapper {
	background-color: #0097d1;
}

#portfolio h1 {

	color: white;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 0.75;
	margin: 0px;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 0px;
	text-transform: uppercase;
	
}

/* Filter nav */
.button-group{
	text-align: right;
	  margin-right: 40px;
}

.button {
  display: inline-block;
  border: none;
  color: #002855;
  background-color: #0097d1;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 7px;
  cursor: pointer;
}

.button:after {
	content:' | ';
	color: #002855;
	}

.button:last-child:after {
		content: '';
	}

.button:hover {
	color: white;
}

.button:active,
.button.is-checked {
	color: white;
}

/* isotope background area */
.isotope {
  border: 1px solid black;
  background-color: black;
}
/* clear fix */
.isotope:after {
  content: '';
  display: block;

}

/* ---- .element-item ---- */

.port-item {
  position: relative;
  float: left;
  width: 245px;
  height: 200px;
  margin: 5px;
  padding: 10px;
  background-color: black;
}

.port-item > * {
  margin: 0;
  padding: 0;
}


#about h1 {
	background-color: #0097d1;
	display: inline-block;
	color: white;
	float: left;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	line-height: 0.75;
	margin: 0;
	padding-top: 10px;
	padding-left: 20px;
	padding-bottom: 0px;
	text-transform: uppercase;
	width: 100%;
	
}
/* ---- tabs code ---- */

ul.tabs{
			margin: 0px 20px;
			padding: 0px;
			border-bottom: 2px solid #0097d1;
			list-style: none;

		}
		ul.tabs li{
			background: none;
			color: #333;
			display: inline-block;
			font-size: 20px;
			padding: 10px;
			cursor: pointer;
		}

	ul.tabs li:after {
		content:' | ';
		padding-left: 15px;
		color: #0097d1;
		}

	ul.tabs li:last-child:after {
			content: '';
			padding: 0;
		}


		ul.tabs li.current{
			color: #0097d1;
			/* If I wanted an highlited border...
			border-bottom: 4px solid #0097d1;
			*/
		}
		ul.tabs li:hover{
			color: #0097d1;
		}

		.tab-content{
			display: none;
			padding: 15px;
		}

		.tab-content.current{
			display: inherit;
		}

		.img_wrapper {
			margin: 10px auto;
			padding: 10px;
			float: left;
		}

		#contact h1 {
			background-color: #0097d1;
			display: inline-block;
			color: white;
			float: left;
			font-family: 'Open Sans', sans-serif;
			font-weight: 300;
			line-height: 0.75;
			margin: 0;
			padding-top: 10px;
			padding-left: 20px;
			padding-bottom: 0px;
			text-transform: uppercase;
			width: 100%;
		}

		.contents h2 {
			width: 65%;
			padding-right: 20px;
			float: right;
		}

		.contents p {
			width: 65%;
			padding-right: 20px;
			float: right;
		}
/* Arrow pointing down for tabs */
		div.arrow-down {
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid #0097d1;
			font-size: 0;
			line-height: 0;
			margin-top: 0;
			padding: -15px;
			position: relative;
			top: -15px;
			left: 80px;
			z-index: 2;
		}
		div.arrow-down-2 {
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid #0097d1;
			font-size: 0;
			line-height: 0;
			margin-top: 0;
			padding: -15px;
			position: relative;
			top: -15px;
			left: 210px;
			z-index: 2;
		}
		div.arrow-down-3 {
			width: 0; 
			height: 0; 
			border-left: 15px solid transparent;
			border-right: 15px solid transparent;
			border-top: 15px solid #0097d1;
			font-size: 0;
			line-height: 0;
			margin-top: 0;
			padding: -15px;
			position: relative;
			top: -15px;
			left: 320px;
			z-index: 2;
		}
/* contact sections */
	#main {
		padding: 0 20px;
		float: left;
		width: 48%;
		border-right: 1px solid #ccc;
		margin: 20px;
	}

	#main a {
		color: #0097d1;
		text-decoration: none;
	}

	#sidebar {
		padding: 0 20px;
		float: right;
		width: 48%;
		color: #888;
		margin-top: 20px;
	}

	.task-btn {
		padding: 20px 0;
	}

	.task a {
		color: white;
		font-family: 'Open Sans', sans-serif;
		letter-spacing: 0.05em;
		text-decoration: none;
		text-transform: uppercase;
		background-color: #002855;
		border-radius: 10px;
		padding: 10px 100px;
		margin-top: 40px;
		margin-bottom: 40px;
		text-align: center;
	}

	.task a:hover {
		color: #0097d1;
	}

	footer {
	clear: both;
	width: 100%;
	background-color: #333;
	border-top: 4px solid #0097d1;
}

	footer p {
	padding: 20px;
	color: white;
}
.hamburger {
    color: #002855;
    padding: 20px;
    margin: 10px;
    text-decoration: none;
    font-size:30px;

    float: left;
    display: none;
}

	.small-logo {
		padding: 10px;
		display: none;
	}

	.med-logo {
		padding: 10px;
		display: none;
	}

	/* ---------------- Cover image for contact area----*/

	.cont-image {
		display: inline-block;
		background-color: black;
		width: 100%;
}

	/* ---------------- Portfolio description pages ------------- */

.port-desc {
	padding: 20px;
	width: 80%;
}

.port-desc h1 {
 	font-family: 'Open Sans', sans-serif;
 	color: #002855;
}

.port-desc p {
 	font-family: 'Open Sans', sans-serif;
 	color: #333;
}

.port-img {
	padding: 10px;
	margin: 10px;
	float: left;
	width: 100%;
}



/* ---------------- Mobile Styles ------------- */


@media screen and (max-width:1060px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
    	float: right;

        display: block;
     
    }  

	.hamburger {
		width: 40px;
    	margin: 20px;
	}

		.med-logo {
		padding: 10px;
		display: block;
	}

	nav {
        text-align: center;
    }
#topnav ul {
	display: block;
	width: 100%;
}

#topnav li {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	display: block;
	width: 100%;
}

#topnav li a {
	text-decoration: none;
	color: #002855;
	padding: 10px;
}

#topnav li a:hover {
	color: #0097d1;
	text-decoration: none;
}


/* ---------------- tab section now vertical reading ------------- */
.contents {
	display: block;
}

.contents ul{
	display: none;
}

.contents h2 {
	width: 100%;
	padding-left: 10px;
	float: left;
		}

.contents p {
	width: 100%;
	padding: 0 10px;
	float: left;
		}

#tab-1 {
	display: block;
	float:left;
	padding: 10px;
}
#tab-2 {
	display: block;
	float:left;
	padding: 10px;
}
#tab-3 {
	display: block;
	float:left;
	padding: 10px;
}

.arrow-down {
	display: none;
}
.arrow-down-2 {
	display: none;
}

.arrow-down-3 {
	display: none;
}

/* contact sections ------------------*/
	#main {
		padding: 0 20px;
		float: left;
		width: 100%;
		border-right: 0;
		margin: 10px;
	}

	#main a {
		color: #0097d1;
		text-decoration: none;
	}

	#sidebar {
		padding: 0 20px;
		float: left;
		width: 100%;
		color: #888;
		margin-top: 10px;
	}

/* ----------------smaller device ------------------*/
@media screen and (max-width:642px) {
    .desktop-only {
        display: none;
    }

    .mobile-only {
    	float: right;
        display: block;
     
    }  

	.hamburger {
		width: 35px;
    	margin: 5px 20px;
	}

	.img_wraper {
		padding: 10px;
		display: none;
	}


	.small-logo {
		padding: 20px;
		display: block;
	}
  
  	.med-logo {
		padding: 10px;
		display: none;
	}

	nav {
        text-align: center;
    }


#topnav li {
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	display: block;
	width: 100%;
}

#topnav li a {
	text-decoration: none;
	color: #002855;
	padding: 10px;
}

#topnav li a:hover {
	color: #0097d1;
	text-decoration: none;
}

/* Filter nav */
.button-group{
	text-align: center;
	margin: 0;
}

.button {
  display: block;
  border-bottom: 1px solid white;
  color: #0097d1;
  background-color: #002855;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  padding-top: 7px;
  cursor: pointer;
  width: 100%;
}

.button:hover {
	color: white;
}

